<nav style="margin-bottom: 40px; line-height: 1.8;">
    <a href="/thainangtani-politics-observatory/">Home</a> |
    <a href="/thainangtani-politics-observatory/analysis/">Analysis</a> |
  <!--
    <a href="/thainangtani-politics-observatory/timeline/">Timeline</a> |
    <a href="/thainangtani-politics-observatory/methodology/">Methodology</a> |
    <a href="/thainangtani-politics-observatory/archive/">Archive</a> |
  -->

    {% if page.url == "/" or page.url == "/thainangtani-politics-observatory/" %}
        <a href="/thainangtani-politics-observatory/gallery/">Gallery</a>
    {% endif %}
</nav>
