<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>

  <style>
   body {
  font-family: system-ui;
  font-size: 18px;
  line-height: 1.6;
  }

    .page-container {
      max-width: 900px;
      margin: 0 auto;
      padding: 30px 20px;
    }

    img {
      width: auto;
      max-width: 100%;
      height: auto;
      border-radius: 4px;
    }
  </style>
</head>

<body>
  <div class="page-container">
    {{ content }}
  </div>

  {% include footer.html %}
</body>
</html>
